.delete-dialog-header{
    background-color: blueviolet;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-content{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}