<div mat-dialog-title class="delete-dialog-header">
    <h2 style="margin: 0; padding-left: 5px;">
        Delete Employee Detail
    </h2>
    <span mat-dialog-close style="cursor: pointer;display: flex; align-items: center;">
      <mat-icon matTooltip="Close popup">cancel</mat-icon>
    </span>
</div>

<div mat-dialog-content class="delete-content">

    <p style="font-size: large;">{{DeleteMessage}} <b>{{UserName}}</b></p>
    

</div>

<div mat-dialog-actions align="center">
    <button mat-raised-button mat-dialog-close color="warn" (click)="deleteConfirm()">Delete</button>

</div>