
<div class="card-container">
    <mat-card style="width: 86%; padding: 6px !important;">
        <mat-card-header class="card-header">
                <h3 class="card-header-title">
                    <mat-icon style="margin-right: 5px;">account_circle</mat-icon>
                    <span>Employees List</span>

                </h3>
                    <button mat-raised-button color="accent" matTooltip="Add New Employee" class="card-header-add-btn" (click)="addDialog()">
                        
                            <mat-icon style="margin-right: 4px;">add_circle_outline</mat-icon>
                        <b>ADD</b>
                    </button>
                
            
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</mat-header-cell>
                        <mat-cell *matCellDef="let cell">{{cell.firstName}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="lastName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>LastName</mat-header-cell>
                        <mat-cell *matCellDef="let cell">{{cell.lastName}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                        <mat-cell *matCellDef="let cell">{{cell.email}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Location</mat-header-cell>
                        <mat-cell *matCellDef="let cell">{{cell.location}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="designation">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                        <mat-cell *matCellDef="let cell">{{cell.designation}}</mat-cell>
                    </ng-container>

                    
                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                        <mat-cell *matCellDef="let cell">{{cell.phone}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let cell">
                            <mat-icon matTooltip="Update Details" style="margin-right: 30px; cursor: pointer;" (click)="updateDialog(cell._id)">create</mat-icon>
                            <mat-icon matTooltip="Delete Employee Record" style="cursor: pointer;" (click)="deleteDialog(cell._id)">delete</mat-icon>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                    <mat-row *matRowDef="let cell; columns: displayColumns;"></mat-row>


                </mat-table>
                
                <mat-paginator [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>

            </div>
        </mat-card-content>
    </mat-card>
    <button mat-raised-button color="warn" matTooltip="SignOut" class="logout-btn" (click)="LogOut()">
        <mat-icon style="margin-right: 5px;">exit_to_app</mat-icon>
        <b>Logout</b>
    </button>
</div>

