.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}



.card-header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
    height: 30px;
}

.card-header-title{
    color: aliceblue;
    font-size: x-large;
    font-weight: 500;
    display: flex;
    margin-left: 22px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px !important;
}

.card-header-add-btn{
    margin:0px 15px 8px 0px;
    box-shadow: 0px 0px 5px floralwhite;
    height: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-column-email{
    min-width:230px;
}

.mat-column-designation{
    min-width: 200px;
}

.mat-header-row{
    border-bottom: 2px solid darkcyan;
}

.mat-header-cell{
    font-size: medium;
    color: indigo;
}

.mat-row{
    min-height: 40px !important;
}

.mat-row:hover{
    background-color: floralwhite;
}

.logout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 10px 0px 10px 40px;
    padding: 15px 5px 15px 5px;
    place-self: flex-start;
}