.landing-page-container{
    background-image: url('../../assets/LandingPage_screen.jpg');
    background-size: cover;
    width: 100%;
    height: 93%;
}

.card-header{
    text-align: center;
    width: 100%;
    min-height: 35px;
    margin-bottom: 20px;
    background-color: lightblue;
    font-family: serif;
    font-size: x-large;
    font-weight: bolder;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-form-field{
    width: 100%;
    margin-bottom: 20px;
}

ol{
    margin: 0px;
    padding: 0px;
}