<div class="landing-page-container flex-center">

    <mat-card style="width: 40%; padding: 10px !important;">
        <mat-card-header>
            <div class="card-header flex-center">
                <span *ngIf="SignInSignUp==0">Login</span>
                <span *ngIf="SignInSignUp==1">SignUp</span>
                <mat-icon style="cursor: pointer;" [matTooltip]="SignInSignUp==0?'Switch to SignUp' : 'Switch to SignIn' " (click)="swapLoginSignUp()">swap_horizontal_circle</mat-icon>
            </div>
            
        </mat-card-header>

        <mat-card-content style="height: 232px; overflow: auto;">
            <div *ngIf="SignInSignUp==0">
                <form [formGroup]="LoginForm" (ngSubmit)="loginSubmit()">
                    <mat-form-field appearance="outline">
                        <mat-label>UserEmail</mat-label>
                        <input matInput type="text" formControlName="userEmail" placeholder="Type User Email" required />
                        <mat-error *ngIf="LoginForm.controls['userEmail'].invalid || (LoginForm.controls['userEmail'].touched && LoginForm.controls['userEmail'].dirty)">
                            <ol>
                                <li *ngIf="LoginForm.controls['userEmail'].hasError('required')"> UserEmail is required</li>
                                <li *ngIf="LoginForm.controls['userEmail'].hasError('emailVerify')">Pattern required 5alphabets + 3numbers + @gmail.com</li>
                                <li *ngIf="LoginForm.controls['userEmail'].hasError('noSpace')">Spaces not allowed</li>
                            </ol>
                        </mat-error>
                        
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="showPassword? 'text' : 'password' " formControlName="password" placeholder="Type User Password" required />
                        <mat-icon matSuffix style="cursor: pointer;" [matTooltip]="showPassword? 'Hide' : 'Show' " (click)="togglePasswordVisibility()">{{showPassword?'visibility':'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="LoginForm.controls['password'].invalid && LoginForm.controls['password'].touched">
                            <ol>
                                <li *ngIf="LoginForm.controls['password'].hasError('required')">Password is required</li>
                                <li *ngIf="LoginForm.controls['password'].hasError('noSpace')">Spaces not allowed</li>
                                <li *ngIf="LoginForm.controls['password'].hasError('alphabetVerify')">Atleast 4 alphabets required</li>
                                <li *ngIf="LoginForm.controls['password'].hasError('numberVerify')">Atleast 3 numbers required</li>
                                <li *ngIf="LoginForm.controls['password'].hasError('specialCharVerify')">Atleast 2 special Characters required</li>
                            </ol>
                        </mat-error>
                    </mat-form-field>

                    <div class="flex-center" style="gap: 8%;">
                        <button type="submit" mat-raised-button color="accent" [disabled]="LoginForm.invalid">Login</button>
                        <button type="reset" mat-stroked-button color="primary">Reset</button>
                    </div>


                </form>

            </div>

            <div *ngIf="SignInSignUp==1">
                <form [formGroup]="SignUpForm" (ngSubmit)="SignupSubmit()">

                    <mat-form-field appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input matInput type="text" formControlName="userName" placeholder="Type User Name" required />
                        <mat-error *ngIf="SignUpForm.controls['userName'].invalid && SignUpForm.controls['userName'].touched">
                            <ol>
                                <li *ngIf="SignUpForm.controls['userName'].hasError('required')"> UserName is required</li>
                                <li *ngIf="SignUpForm.controls['userName'].hasError('noSpace')">Spaces not allowed</li>
                            </ol>
                        </mat-error>
                        
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>UserEmail</mat-label>
                        <input matInput type="text" formControlName="userEmail" placeholder="Type User Email" required />
                        <mat-error *ngIf="SignUpForm.controls['userEmail'].invalid && SignUpForm.controls['userEmail'].touched">
                            <ol>
                                <li *ngIf="SignUpForm.controls['userEmail'].hasError('required')"> UserEmail is required</li>
                                <li *ngIf="SignUpForm.controls['userEmail'].hasError('emailVerify')">Pattern required 5alphabets + 3numbers + @gmail.com</li>
                                <li *ngIf="SignUpForm.controls['userEmail'].hasError('noSpace')">Spaces not allowed</li>
                            </ol>
                        </mat-error>
                        
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="showPassword? 'text' : 'password' " formControlName="password" placeholder="Type User Password" required (input)="onPasswordChange($event)" />
                        <mat-icon matSuffix style="cursor: pointer;" [matTooltip]="showPassword? 'Hide' : 'Show' " (click)="togglePasswordVisibility()">{{showPassword?'visibility':'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="SignUpForm.controls['password'].invalid && SignUpForm.controls['password'].touched">
                            <ol>
                                <li *ngIf="SignUpForm.controls['password'].hasError('required')">Password is required</li>
                                <li *ngIf="SignUpForm.controls['password'].hasError('noSpace')">Spaces not allowed</li>
                                <li *ngIf="SignUpForm.controls['password'].hasError('alphabetVerify')">Atleast 4 alphabets required</li>
                                <li *ngIf="SignUpForm.controls['password'].hasError('numberVerify')">Atleast 3 numbers required</li>
                                <li *ngIf="SignUpForm.controls['password'].hasError('specialCharVerify')">Atleast 2 special Characters required</li>
                            </ol>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="showConfirmPassword? 'text' : 'password' " formControlName="confirmPassword" placeholder="Re-Enter User Password" required />
                        <mat-icon matSuffix style="cursor: pointer;" [matTooltip]="showConfirmPassword? 'Hide' : 'Show' " (click)="toggleConfirmPasswordVisibility()">{{showConfirmPassword?'visibility':'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="SignUpForm.controls['confirmPassword'].invalid && SignUpForm.controls['confirmPassword'].touched">
                            <ol>
                                <li *ngIf="SignUpForm.controls['confirmPassword'].hasError('required')">Password is required</li>
                                <li *ngIf="SignUpForm.controls['confirmPassword'].hasError('noSpace')">Spaces not allowed</li>
                                <li *ngIf="SignUpForm.controls['confirmPassword'].hasError('passwordMismatch')">Re-enter the same password as you entered above</li>
                                <li *ngIf="SignUpForm.controls['confirmPassword'].hasError('alphabetVerify')">Atleast 4 alphabets required</li>
                                <li *ngIf="SignUpForm.controls['confirmPassword'].hasError('numberVerify')">Atleast 3 numbers required</li>
                                <li *ngIf="SignUpForm.controls['confirmPassword'].hasError('specialCharVerify')">Atleast 2 special Characters required</li>
                            </ol>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput type="text" formControlName="phone" maxlength="10" (input)="onNumberInputChange($event)" required placeholder="Type user phone number" />
                        <mat-error *ngIf="SignUpForm.controls['phone'].invalid || (SignUpForm.controls['phone'].dirty && SignUpForm.controls['phone'].touched)">
                            <ol>
                                <li *ngIf="SignUpForm.controls['phone'].hasError('required')">Phone number is required</li>
                                <li *ngIf="SignUpForm.controls['phone'].hasError('minlength')">Enter valid 10 digits</li>
                            </ol>
                        </mat-error>
                    </mat-form-field>

                    <div class="flex-center" style="gap: 8%;">
                        <button type="submit" mat-raised-button color="accent" [disabled]="SignUpForm.invalid" >SignUp & Login</button>
                        <button type="reset" mat-stroked-button color="primary">Reset</button>
                    </div>


                </form>

            </div>
        </mat-card-content>
    </mat-card>

</div>
