/* You can add global styles to this file, and also import other style files */
@import "./node_modules/angular-notifier/styles.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-dialog-container{
    padding: 6px !important;
    overflow-x: hidden !important;
}

.mat-card-header-text{
    display: none !important;
}