
<div style="text-align: center; height: 7%;background-color: lightgray;">
  <h2 class="title-header">Employee Management</h2>
  
</div>


<router-outlet></router-outlet>
<notifier-container></notifier-container>