<div mat-dialog-title class="dialog-header">
  <h2 style="margin: 0; padding-left: 5px;">
    <span *ngIf="AddEditFlag===0">Add New Employee</span>
    <span *ngIf="AddEditFlag===1">Update Employee</span>
  </h2>
  <span mat-dialog-close style="cursor: pointer;display: flex; align-items: center;">
    <mat-icon matTooltip="Close popup">cancel</mat-icon>
  </span>
</div>

<div mat-dialog-content>
    <form [formGroup]="dialogForm" (ngSubmit)="Add_Update_Employee()">
        <div class="form-field-container">
                <div class="flex" style="margin-bottom: 32px;">
                    <div style="float: left;">
                        <mat-form-field appearance="fill">
                            <mat-label>FirstName</mat-label>
                            <input matInput type="text" placeholder="Type User firstName" formControlName="firstName" required/>
                            <mat-error style="color: red;" *ngIf="dialogForm.controls['firstName'].invalid && dialogForm.controls['firstName'].touched">
                                <span *ngIf="dialogForm.controls['firstName'].invalid && dialogForm.controls['firstName'].touched">
                                    <span *ngIf="dialogForm.controls['firstName'].hasError('required')"><p>Please Type FirstName</p></span>
                                    <span *ngIf="dialogForm.controls['firstName'].hasError('minlength')"><p>Atleast 4 alphabets required</p></span>
                                    <span *ngIf="dialogForm.controls['firstName'].hasError('noSpace')"><p>Spaces not allowed</p></span>
                                    <span *ngIf="dialogForm.controls['firstName'].hasError('onlyAlphabets')"><p>Alphabets only allowed</p></span>
                                </span>
                            </mat-error>

                        </mat-form-field>
                    </div>
                    <div style="float: right;">
                        <mat-form-field appearance="fill">
                            <mat-label>LastName</mat-label>
                            <input matInput type="text" placeholder="Type User lastName" formControlName="lastName" required/>
                            <mat-error style="color: red;">
                            <span *ngIf="dialogForm.controls['lastName'].invalid && dialogForm.controls['lastName'].touched">
                                <span *ngIf="dialogForm.controls['lastName'].hasError('required')"><p>Please Type LastName</p></span>
                                <span *ngIf="dialogForm.controls['lastName'].hasError('minlength')"><p>Atleast 1 alphabet is required</p></span>
                                <span *ngIf="dialogForm.controls['lastName'].hasError('noSpace')"><p>Spaces not allowed</p></span>
                                <span *ngIf="dialogForm.controls['lastName'].hasError('onlyAlphabets')"><p>Alphabets only allowed</p></span>
                            </span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <div class="flex" style="margin-bottom: 32px;">
                    <div style="float: left;">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" placeholder="Type User email" formControlName="email" required/>
                            <mat-error style="color: red;">
                            <span *ngIf="dialogForm.controls['email'].invalid && dialogForm.controls['email'].touched">
                                <span *ngIf="dialogForm.controls['email'].hasError('required')"><p>Please Type Email</p></span>
                                <span *ngIf="dialogForm.controls['email'].hasError('emailVerify')"><p>Pattern required 5alphabets + 3numbers + @gmail.com </p></span>
                                <span *ngIf="dialogForm.controls['email'].hasError('noSpace')"><p>Spaces not allowed</p></span>
                            </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div style="float: right;">
                        <mat-form-field appearance="fill">
                            <mat-label>Location</mat-label>
                            <input matInput type="text" placeholder="Type User Location" formControlName="location" required/>
                            <mat-error style="color: red;">
                            <span *ngIf="dialogForm.controls['location'].invalid && dialogForm.controls['location'].touched">
                                <span *ngIf="dialogForm.controls['location'].hasError('required')"><p>Please Type Location</p></span>
                                <span *ngIf="dialogForm.controls['location'].hasError('noSpace')"><p>Spaces not allowed</p></span>
                                <span *ngIf="dialogForm.controls['location'].hasError('onlyAlphabets')"><p>Alphabets only allowed</p></span>
                            </span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>


                <div class="flex" >
                    <div style="float: left;">
                        <mat-form-field appearance="fill" >
                            <mat-label>Select Designation</mat-label>
                                <mat-select formControlName="designation" [matTooltip]="selectedOption" required (ngModelChange)="onSelectChange($event)">
                                    <mat-option *ngFor="let role of designationsList" [value]="role" >{{role}}</mat-option>
                                </mat-select>
                                <mat-error style="color: red;" *ngIf="dialogForm.controls['designation'].hasError('required')" >Please select any designation</mat-error>
                        </mat-form-field> 
                    </div>
                    <div style="float: right;">
                        <mat-form-field appearance="fill">
                            <mat-label>Phone</mat-label>
                            <input matInput type="text" placeholder="Type User Contact" formControlName="phone" required/>
                            <mat-error style="color: red;" >
                            <span *ngIf="dialogForm.controls['phone'].invalid && dialogForm.controls['phone'].touched">
                                <span *ngIf="dialogForm.controls['phone'].hasError('required')"><p>Please Type Phone number</p></span>
                                <span *ngIf="dialogForm.controls['phone'].hasError('minlength') || dialogForm.controls['phone'].hasError('maxlength')"><p>Enter valid 10 digit numbers</p></span>
                                <span *ngIf="dialogForm.controls['phone'].hasError('noSpace')"><p>Spaces not allowed</p></span>
                                <span *ngIf="dialogForm.controls['phone'].hasError('onlyNumbers')"><p>Numbers only allowed</p></span>
                            </span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
    
        </div>
        
        <div class="add-edit-btn">
            <button mat-raised-button color="primary" type="submit" [disabled]="dialogForm.invalid">
                <span *ngIf="AddEditFlag===0">Add</span>
                <span *ngIf="AddEditFlag===1">Update</span>
            </button>
            <button type="reset" mat-stroked-button color="warn">Reset</button>

        </div>

    </form>

</div>

<!-- <div mat-dialog-actions align="center">
<button mat-raised-button color="primary" mat-dialog-close>Cancel</button>

</div> -->
