.dialog-header{
    background-color: blueviolet;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-field-container{
    height: 265px;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.add-edit-btn{
    margin-top: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

span p{
margin: 0px;
}